@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(247, 244, 242);
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d1e3d1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* moje style */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  /* background: rgb(247, 244, 242); */
  align-items: center;
}

.form {
  padding: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  background-color: rgb(252, 252, 253);
}

.content {
  /* display: flex; */
  width: 100%;
  /* gap: 4rem; */
  padding: 2.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 1rem;
  color: rgb(152, 162, 179);
  font-size: 14px;
  background: rgb(252, 252, 253);
  box-shadow: rgb(16 24 40 / 30%) 0px 0.5px 2px;
  border-radius: 8px;
  width: 480px;
  margin: 20px;
}

.card-header input[type="text"]:disabled {
  font-family: 'Roboto', sans-serif; 
  font-size: 1.2em; 
  font-weight: 500; 
  color: rgb(102, 112, 133); 
}


.card textarea {
  height: 80px; 
  resize: none; 
}

.card-footer {
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.2rem;
}
.activeBtn {
  background-color: rgba(95, 145, 119, 0.366);
  
}

/*  */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 768px) {

  .card {
    width: auto;
    margin: 20px;
    padding: 1rem;
  }

  .card-header input[type="text"], .card textarea {
    font-size: 1em;
  }

  h1 {
    font-size: 1.8em;
  }

  .container, .content {
    width: auto;
    padding: 1rem;
    flex-direction: column;
  }

  button {
    padding: 0.5em 1em;
  }

  input[type="text"], textarea {
    margin: 10px 0;
  }
}
